{% extends "layout.html" %}

{% block title %}
Details - 22FH375
{% endblock %}

{% block main %}
    <h1 class="py-3">Order Details</h1>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between py-2">
                <h3 class="flex-fill">Invoice #: 22FH375</h3>
                <h3>Total: $ 327.98</h3>
            </div>
            <div class="d-flex justify-content-between py-2">
                <div>
                    <h5><strong>Customer Name: </strong>Ramesh Bhatis</h5>
                    <h5><strong>Mobile No.: </strong>9875839495</h5>
                </div>
                <div>
                    <h5 class="border p-2 rounded border-2 border-black">27 Jul 2023 | 2:27</h5>
                </div>
            </div>
            <table class="table table-striped rounded overflow-hidden my-2">
                <thead class="table-success">
                    <tr>
                        <th>Item Name</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                    <tr>
                        <td>Sunfeast Cashew Cookies 245g</td>
                        <td>$ 2.37</td>
                        <td>4</td>
                        <td>$ 9.48</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="col-md-4">
            <div class="row">
                <div class="col-6"><button class="btn btn-success btn-lg">New Order</button></div>
                <div class="col-6"><button class="btn btn-primary btn-lg">Search History</button></div>
            </div>
            <div class="row my-4">
                <div class="col"><button class="btn btn-warning btn-lg">Manage Inventory</button></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="shortage-container">
                        <h5 class="py-2">Shortages</h5>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}