{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <h1 class="py-3">Recent Orders</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped rounded overflow-hidden">
                <thead class="table-success">
                    <tr>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Amount</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                    <tr>
                        <td>9875839495</td>
                        <td>Ramesh Bhatis</td>
                        <td>3rd Jul 2023</td>
                        <td>03:24</td>
                        <td>$ 34.50</td>
                        <td><a href="#"><span class="material-symbols-outlined">info</span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-6"><a style="display: block;" class="btn btn-success btn-lg py-4" href="/neworder">New Order</a></div>
                <div class="col-6"><a style="display: block;" class="btn btn-primary btn-lg py-4" href="/search">Search History</a></div>
            </div>
            <div class="row my-4">
                <div class="col"><a style="display: block;" class="btn btn-warning btn-lg py-4" href="/inventory">Manage Inventory</a></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="shortage-container">
                        <!-- No shortages -->
                        <h5 class="py-2">Shortages</h5>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                        <div class="shortage-element">Lorem Ipsum  [8] <a href="#">Add</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}